p {
  padding: 10px 0px;
}

.aboutImages img {
  height: 200px;
  width: 20vw;
  max-width: 600px;
}

.aboutImages {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .aboutImages img {
    width: 100%;
    height: 150px;
  }
}