.error_stack {
  height: 100dvh;
}

.error_img {
  height: 400px;
  margin: 2rem;
}

.error_text {
  color: black;
  padding: 0;
  font-weight: 500;
}

.error_h1 {
  font-weight: 700;
}

.error_h5 {
  max-width: 300px;
  text-align: center;
}

.error-Link {
  color: orange;
  font-size: 1.5rem;
  font-weight: 700;
}
