#navBar-Main {
  margin: 0 30px;
  border-bottom: 1px solid grey;
  padding: 0 1rem;
  height: 60px;
}

#navBar-Left {
  font:
    700 20px/32px Roboto,
    sans-serif;
  color: black;
  text-decoration: none;
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  padding: 0;
}

#navBar-Right a {
  text-decoration: none;
  color: black;
  font:
    500 20px/32px Roboto,
    sans-serif;
  padding: 0 0.5em;
}

#navBar-Right a:hover,
#navBar-Right a:hover > *,
#navBar-Left:hover {
  transition: all 0.3s ease;
  color: orange;
}

#navBar-Right a.activeLink,
#navBar-Right a.activeLink > * {
  color: orange;
}

#barsIcon {
  font-size: 2em;
  color: black;
}

#barsIcon:hover {
  transition: all 0.3s ease;
  color: orange;
}

@media only screen and (max-width: 900px) {
  #navBar-Left {
    font-size: clamp(0.75rem, 5vw, 1.25rem);
  }
}
