.info-bottons-container {
  flex-wrap: wrap;
  margin: 20px 0px;
  width: 100%;
}

.info-bottons {
  width: 200px;
  height: 40px;
}

.activeLink button {
  background-color: grey !important;
}

@media screen and (max-width: 900px) and (orientation:portrait) {
  .info-bottons-container {
    height: 250px;
  }

  .info-bottons {
    width: 60vw;
  }
}